<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shopkeeper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopKeeper">
        <activity android:name=".Order.Order_Details_Activity" />
        <activity android:name=".Home" />
        <activity android:name=".Order.AddCustomer" />
        <activity android:name=".Order.PlaceOrder" />
        <activity android:name=".Order.OrderHistory" />
        <activity android:name=".Order.CreateOrder" />
        <activity android:name=".Order.Shipping" />
        <activity android:name=".Order.Scanner" />
        <activity
            android:name=".HomeScreen.HomeScreenActivity"
            android:label="Home Page" />
        <activity
            android:name=".Authentication.ForgotPasswordActivity"
            android:label="@string/etforgot_password" />
        <activity android:name=".SplashScreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Authentication.MainActivity"
            android:label="Login"
            android:windowSoftInputMode="adjustResize" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

</manifest>